.be-a-dog-sitter-main-container {
    max-width: 740px;
    width: 100%;
    box-sizing: border-box;
    background-color: #E5DBCB;
    display: flex;
    justify-content: center;
}

.be-a-dog-sitter-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 767px) {
    .be-a-dog-sitter-main-container {
        padding: 48px 16px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .be-a-dog-sitter-main-container {
        padding: 48px 64px;
    }
}

@media (min-width: 1024px) {
    .be-a-dog-sitter-main-container {
        padding: 48px 96px;
    }
}

.be-a-dog-sitter-form-headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.be-a-dog-sitter-form-title {
    font-weight: bold;
    font-size: 18px;
}

.be-a-dog-sitter-form-text {
    font-size: 15px;
}

.be-a-dog-sitter-form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.be-a-dog-sitter-form-input-container-title {
    font-weight: bold;
    font-size: 15px;
}

.be-a-dog-sitter-form-input-container-input {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    border: none;
}

.be-a-dog-sitter-form-input-container-password {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    border: none;
}

.be-a-dog-sitter-form-input-container-number {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    border: none;
}
.be-a-dog-sitter-form-input-container-number::-webkit-outer-spin-button,
.be-a-dog-sitter-form-input-container-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.be-a-dog-sitter-form-input-container-search {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    border: none;
}
.be-a-dog-sitter-form-input-container-search:focus::-webkit-search-cancel-button,
.be-a-dog-sitter-form-input-container-search::-webkit-search-cancel-button {
    display: none;
}

.be-a-dog-sitter-form-input-container-textarea {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif; 
    border: none;
    height: 204px;
    resize: none;
}

.be-a-dog-sitter-form-input-container-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.be-a-dog-sitter-form-input-container-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #6D6D6D;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.be-a-dog-sitter-form-input-container-checkbox:hover {
    border-color: #5E3104;
}
.be-a-dog-sitter-form-input-container-checkbox:checked {
    border-color: #5E3104;
}
.be-a-dog-sitter-form-input-container-checkbox:checked::after {
    content: '';
    width: 12px; /* Inner square size */
    height: 12px;
    background-color: #5E3104; /* Inner square color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the inner square */
    border-radius: 2px; /* Match the outer square's shape */
    transition: all 0.2s ease;
}

.be-a-dog-sitter-form-input-container-radio {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #6D6D6D;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
.be-a-dog-sitter-form-input-container-radio:hover {
    border-color: #5E3104;
}
.be-a-dog-sitter-form-input-container-radio:checked {
    border-color: #5E3104;
}
.be-a-dog-sitter-form-input-container-radio:checked::after {
    content: '';
    width: 10px; /* Inner circle size */
    height: 10px;
    background-color: #5E3104; /* Inner circle color */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the inner circle */
    transition: all 0.2s ease;
}

.be-a-dog-sitter-form-input-container-upload {
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
}

.be-a-dog-sitter-form-submit-auth-container {
    font-size: 15px;
}

.be-a-dog-sitter-form-submit-auth-container-text {
    font-style: italic;
}

.be-a-dog-sitter-form-submit-auth-container-link {
    text-decoration: none;
    color: #5E3104;
    transition: color 0.2s ease;
    font-weight: bold;
}
.be-a-dog-sitter-form-submit-auth-container-link:hover {
    color: #944e09;
}

.be-a-dog-sitter-form-submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.be-a-dog-sitter-form-submit {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    color: #F0F0F0;
    border: none;
    background-color: #5E3104;
    padding: 8px 48px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-out;
}
.be-a-dog-sitter-form-submit:hover {
    background-color: #944e09;
}