.footer-container {
    background-color: #CCAF80;
    color: #5E3104;
    font-size: 11px;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.icons-container {
    font-size: 18px;
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .footer-container {
        padding-inline: 16px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .footer-container {
        padding-inline: 80px;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        padding-inline: 128px;
    }
}